.video-duration {
  padding-top: 6px;
  padding-bottom: 6px;
}

.video-caption {
  height: 12em;
  overflow: hidden;
}

.video-viewed {
  background-color: #a1cbe9 !important;
}

.thumbnail {
  padding: 0;
}