<div class="thumbnail">
  <a ng-href="https://www.youtube.com/watch?v={{ video.id }}">
    <img ng-src="{{ video.thumbnails.medium.url }}" title="{{ video.view_count }} views  +{{ video.like_count }} -{{ video.dislike_count }}" style="min-width: 75%;" />
  </a>
  <div class="caption video-caption">
    <p class="pull-left video-duration">
      <span class="glyphicon glyphicon-time"></span>
      {{ video.duration | duration }}
    </p>
    <p class="pull-right">
      {{video.published_date | timeago }} ago
      <button ng-click="watchlater(video)" class="btn btn-default" ng-class="{ active: video.watchinglater }" title="Watch later">
        <span class="glyphicon glyphicon-pushpin"></span>
      </button>
    </p>
    <div class="clearfix"></div>
    <p>
      <a ng-href="https://www.youtube.com/channel/{{ video.channel_id }}">
        <span class="text-danger">{{ video.channel_title }}</span>
      </a>
      <a ng-href="https://www.youtube.com/watch?v={{ video.id }}">{{ video.title }}</a>
    </p>
    <p title="{{ video.description }}"><small>{{ video.description }}</small></p>
  </div>
</div>