<div class="row well-sm">
  <div class="col-sm-11">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span ng-click="search = ''"
                  style="cursor: pointer;"
                  class="glyphicon glyphicon-remove"
                  title="Clear search">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Search videos" ng-model="search" />
        </div>
      </div>
    </form>
  </div>

  <div class="col-sm-1 text-center">
    <button ng-click="reload()" class="btn btn-primary" title="Refresh subscriptions feed">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-2" ng-repeat="video in data.videos | filter: search">
    <mytube-video video="video" watchlater="watchlater(video)" ng-class="{ 'video-viewed': !video.viewed && firebaseReady }" />
  </div>

  <p class="text-center well-lg" ng-if="!data && !error">
    <i class="fa fa-circle-o-notch fa-spin"></i>
    Loading...
  </p>

  <p class="text-center well-lg" ng-if="!data && error">
    <i class="fa fa-exclamation-triangle"></i>
    Error loading subscriptions feed
  </p>
</div>