<div class="row well-sm">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search videos" ng-model="search" />
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2" ng-repeat="video in data.videos | filter: search">
    <mytube-video video="video" watchlater="watchlater(video)" />
  </div>

  <p class="text-center well-lg" ng-if="!data && !error">
    <i class="fa fa-circle-o-notch fa-spin"></i>
    Loading...
  </p>

  <p class="text-center well-lg" ng-if="!data && error">
    <i class="fa fa-exclamation-triangle"></i>
    Error loading subscriptions feed
  </p>
</div>