<div class="row well-sm">
  <div class="col-sm-12">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
              <span ng-click="search = ''"
                    style="cursor: pointer;"
                    class="glyphicon glyphicon-remove"
                    title="Clear search">
              </span>
          </div>
          <input type="text" class="form-control" placeholder="Search videos" ng-model="search" />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-2" ng-repeat="video in data | filter: search" ng-init="video.watchinglater = true">
    <mytube-video video="video" watchlater="watchlater(video)" />
  </div>

  <p class="text-center well-lg" ng-if="data.length == 0">
    No videos to watch, press <span class="glyphicon glyphicon-pushpin"></span> on videos to add them here.
  </p>
</div>

<div class="row well-sm">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="YouTube video URL" ng-model="videoId" />
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addFromUrl()">
      <span class="glyphicon glyphicon-plus"></span>
      Add
    </button>
    <button type="button" ng-click="youtubeDL()" class="btn btn-primary pull-right">
      YouTube-DL
    </button>
  </form>
</div>

<div class="row well-sm" ng-show="youtubeDLoutput">
  <div class="col-md-12">
    <pre>{{ youtubeDLoutput }}</pre>
  </div>
</div>